body {
  
  /* background: linear-gradient(230.24deg, #37306B 42.36%, #D27685 99.53%); */
  position: relative;
width: 1000px;
height: 608px;

background: linear-gradient(230.24deg, #37306B 42.36%, #D27685 99.53%);
}
